<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Okinawa Swap</title>
<style type="text/css" media="all">
<!--
@import url("styles.css");
-->
</style>
<!--[if IE 5]>
<style type="text/css"> 
/* IE 5 does not use the standard box model, so the column widths are overidden to render the page correctly. */
#outerWrapper #contentWrapper #leftColumn1 {
  width: 220px;
}
</style>
<![endif]-->
<!--[if IE]>
<style type="text/css"> 
/* The proprietary zoom property gives IE the hasLayout property which addresses several bugs. */
#outerWrapper #contentWrapper #content {
  zoom: 1;
}
</style>
<![endif]-->
<script language="javascript">
function change()
{
document.getElementById('featureWrapper').className = 'class2';
}
</script>
<style type="text/css">
.class2 {
	display:block;
}
</style>
<script language="javascript">
function changeback()
{
document.getElementById('featureWrapper').className = 'class3';
}
</script>
<style type="text/css">
.class3 {
	display:none;
}
</style>
</head>
<body>
<div id="headerWrapper">
  <div id="header">
    <div id="logo"><a href="#"><img src="images/logo.jpg" alt="" width="210" height="117" /></a></div>
    <div id="tagline">Call us toll free for the best in web design technology</div>
    <div id="nav">
      <ul>
        <li id="active"><a href="#">home</a></li>
        <li><a href="#">products</a></li>
        <li><a href="#">services</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="featureWrapper" class="class2">
  <div id="feature"> <img src="images/feature-product.jpg" alt="" width="534" height="233" usemap="#Map" style="float: right;"/>
    <map name="Map" id="Map">
      <area shape="rect" coords="425,163,533,240" href="http://www.justdreamweaver.com/features/siteassist.html" target="_blank" alt="Site Assist Professional" />
    </map>
    <p class="feature-title">Create Dreamweaver Sites Fast!</p>
    <p class="feature-text">SiteAssist Professional takes the work out of complete site development.</p>
    <ul>
      <li>Create entire websites including navigation and page structure at the click of a button</li>
      <li>Works with any Dreamweaver template (including this one)</li>
      <li>Includes 14 CSS layouts in 12 different color schemes</li>
      <li>Integrate with CSS Sculptor and CSS Menu Writer</li>
    </ul>
  </div>
</div>
<div id="outerWrapper">
  <div id="contentWrapper">
    <div id="leftColumn1">
      <div id="leftColumnContent"> <strong>Click the options below to turn the top feature section on and off</strong>
        <ul>
          <li> <a href="#" onclick="change()">View with Feature Section</a> </li>
          <li><a href="#" onclick="changeback()">View without Feature Section</a></li>
        </ul>
        <strong>This is bold text. Attention grabbing, isn't it?</strong>
        <div class="sidebarbox">
          <div class="sidebarboxtop">
            <p><strong>Rounded Corner Boxes</strong></p>
            <p>&nbsp;</p>
            <p>This box is created using three images, the top rounded corners, the bottom rounded corners, and a vertically-repeating background image.</p>
            <p>&nbsp;</p>
            <p> Rounded corners are eye-pleasing and we've included the vector box in the Fireworks file, so you can make your boxes whatever color you like.<br />
            </p>
          </div>
          <div class="sidebarboxbottom"></div>
        </div>
        <p class="sidebarlt"><strong>Square Corners too!</strong><br />
          <br />
          If you like square corners better make a box like this simply by applying the &quot;sidebarlt&quot; class to a paragraph tag.<br />
          <br />
          But remember to use hard line breaks rather than a new paragaraph. Or you'll have a bunch of little boxes!<br />
          <br />
          <a href="#">Here's a text link.</a></p>
        <p class="sidebardk"><strong>Even Dark Square Boxes</strong><br />
          <br />
          To make a box like this, assign the &quot;sidebardk&quot; class.<br />
          <br />
          You can do anything with a sidebar box. Insert images, ads or other web content.<br />
          <br />
          <a href="#">Here's a text link.</a></p>
      </div>
    </div>
    <div id="content">
      <h1>Welcome to Sublime Technology </h1>
      <h3>Another free website template from JustDreamweaver.com!</h3>
      <p>&nbsp;</p>
      <p>This template includes an optional feature section between the header and the content. </p>
      <p><a href="#">This is a text link</a></p>
      <h2>Image Floated Left</h2>
      <p><img src="images/sample2.jpg" alt="Dreamweaver CS3" width="110" height="110" class="fltlft" />An image with the assigned class &quot;fltlft&quot; will be aligned with the left edge of the content div, with a 10 pixel right margin and a 10 pixel bottom margin.</p>
      <p>Etiam leo pede, rhoncus venenatis, tristique in, vulputate at,  odio. Donec et ipsum et sapien vehicula nonummy. Suspendisse potenti. Fusce  varius urna id quam. Sed neque mi, varius eget, tincidunt nec, suscipit id,  libero. In eget purus. </p>
      <p>&nbsp;</p>
      <h2>Image Floated Right</h2>
      <p><img src="images/sample1.jpg" alt="A Laptop Computer" width="150" height="113" class="fltrt" />An image with the assigned class &quot;fltrt&quot; will align with the right margin of the content with a left margin of 10 pixels and a bottom margin of 10 pixels.</p>
      <p>Etiam leo pede, rhoncus venenatis, tristique in, vulputate at,  odio. Donec et ipsum et sapien vehicula nonummy. Suspendisse potenti. Fusce  varius urna id quam. Sed neque mi, varius eget, tincidunt nec, suscipit id,  libero. In eget purus. </p>
      <h2>Editable Metatags and Head Section</h2>
      <p>The template allows for editing of the Title, Description and Keywords tags for each page plus another editable area in the Head for inserting scripts and other Head content.</p>
      <h2>Editable Template Areas Included</h2>
      <p>The template has editable areas built-in already, so you can be up and running very quickly. You can change any of the editable regions in the template to meet the needs of your website project.</p>
      <h2>Fireworks Graphics File Included</h2>
      <p>We've included the original Fireworks file in which we created the the site images. It includes all the graphic elements in this template with all the slices already created. It will be very easy to customize this template to suit your needs. All the image elements are vector graphics, so you can change colors, gradients, shadows, etc very quickly to generate a new look.</p>
      <h2>What's the Catch?</h2>
      <p>We supply our templates and graphic files free of charge, with the only requirement being the small link at the bottom of the template be left in place and not altered in any way. We've styled it very small and unobtrusive, so that's a pretty minor requirement considering the time we spend creating these templates AND it will keep us developing more templates in the future!</p>
      <p>If you wish to remove the link at the bottom of this template, you can purchase a license for this template at <a href="http://www.justdreamweaver.com/dreamweaver-templates.html" target="_blank">JustDreamweaver.com</a>. License one template or all of our cool free Dreamweaver templates for one amazingly low price!</p>
      <p>Thanks for trying out our template and if you run into any code or browser issues, <a href="http://www.justdreamweaver.com/contactus.php">let us know</a>. We test our templates in IE 6, IE 7, Firefox, Safari, Netscape and Opera, so if there are any issues on any other browsers or platforms we'd be interested to know.</p>
      <h2>To Extend this Template</h2>
      <p>Here are some suggestions for creating the ultimate website from this template.</p>
      <ul>
        <li>For a total web design Dreamweaver extension package, check out <a href="http://www.justdreamweaver.com/features/web-designer-suite.html" target="_blank">Web Designer Suite</a></li>
        <li>For database integration, eCommerce, user registration and much more, look at <a href="http://www.justdreamweaver.com/features/web-developer-suite.html" target="_blank">Web Developer Suite</a></li>
        <li>For the ultimate Dreamweaver extension bundle that includes all the tools you need to develop interactive websites, the best solution is <a href="http://www.justdreamweaver.com/features/super-suite.html" target="_blank"><strong>Super Suite</strong></a>.</li>
        <li>For other excellent Dreamweaver extensions that are too numerous to mention, check out <a href="http://www.justdreamweaver.com/trio/" target="_blank">this site</a>, <a href="http://www.justdreamweaver.com/hd/" target="_blank">this one</a> and <a href="http://www.justdreamweaver.com/topdreamweaver/" target="_blank">this one</a> too. And don't forget about our sweet extension collection on <a href="http://www.justdreamweaver.com/dreamweaver-extensions.html" target="_blank">JustDreamweaver.com</a>.</li>
      </ul>
    </div>
    <br class="clearFloat" />
  </div>
  <div id="footer">
    <div style="float: left;">Copyright © 2008 Your Website Name</div>
    <div style="float: right; text-align: right;"><a href="#">Privacy</a> | <a href="#">Terms of Use</a> | <a href="#">Site Map</a></div>
  </div>
  <!--The following code must be left in place and unaltered for free usage of this theme. If you wish to remove the links, contact us at http://www.justdreamweaver.com and get template pricing for a link-free template.-->
  <div id="credit"><a href="http://www.justdreamweaver.com/dreamweaver-templates.html">Free website templates</a> courtesy of <a href="http://www.justdreamweaver.com">JustDreamweaver.com</a></div>
</div>
</body>
</html>
